body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #6161FF;
}

.login {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    border: solid 1px white;
    border-radius: 20px;
}

.login h1 {
    font-family: sans-serif;
    color: #6B778A;
    text-transform: uppercase;
    font-weight: 500;
}

.login input[type="text"],
.login input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #E4E0FF;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
    width: 280px;
    border-color: #6B778A;
}

.login input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #6161FF;
    padding: 14px 40px;
    outline: none;
    color: #6B778A;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #6161FF;
}