.container{
    width: 85%;
    margin: auto;
    font-family: 'Amiko', sans-serif;
    font-weight: bold;
}
header{
    background-color: #F4F4F4;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1010px;
}

header .nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-logo .logo{
    margin-top: 3em;
}

header .nav-logo .logo h2{
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}

header .nav-logo .nav{
    width: 50%;
    margin-top: 3em;
}

header .nav-logo .nav ul{
    display: flex;
    justify-content: space-around;
}

header .nav-logo .nav ul li a{
    text-decoration: none;
    color:#FFFFFF;
}

header .nav-logo .nav ul li a:hover{
    text-decoration: underline #ffffff;
}

header .hero-header{
    width: 65%;
    margin-top: 25em;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

header .hero-header .salutation h1{
    font-size: 100px;
    padding-bottom: 45px;
}

header .hero-header .salutation p{
    font-size: 50px;
    width: 70%;
    line-height: 68px;
}

header .hero-header .button{
    display: flex;
    align-items: flex-end;
}

header .hero-header .button input{
    padding: 15px 35px;
    border-radius: 35px;
    border: 1px solid #E07800;
    font-size: 23px;
    font-weight: bold;
    background-color: #E07800;
    color: #FFFFFF;
    outline: none;
}

header .hero-header .button input:hover{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #E07800;
}

@media screen and (min-width: 375px) and (max-width: 768px){
    header{
        background-image: url(../img/image.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        width: 100%;
        height: 640px;
        overflow: hidden;
    }

    header .nav-logo .logo h2{
        font-weight: bold;
        font-size: 30px;
        color: #FFFFFF;
    }    

    header .nav-logo .nav{
        font-size: 13px;
    }

    header .hero-header{
        margin-top: 17em;
    }

    header .hero-header .salutation{
        margin-bottom: 10em;
    }

    header .hero-header .salutation h1{
        font-size: 50px;
        padding-bottom: 25px;
    }

    header .hero-header .salutation p{
        font-size: 30px;
        line-height: 41px;
    }

    header .hero-header .button input{
        font-size: 15px;
        padding: 10px 25px;
        margin-bottom: 11em;
    }
}

@media screen and (max-width: 375px){
    header{
        background-image: url(../img/image.jpg);
        background-repeat: no-repeat;
        background-size: 100% 30%
    }

    header .nav-logo .logo{
        margin-top: 1.5em;
    }

    header .nav-logo .logo h2{
        font-size: 20px;
    }

    header .nav-logo .nav{
        font-size: 9px;
        display: none;
    }

    header .hero-header{
        margin-top: 0;
    }

    header .hero-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-top: 4em;
        line-height: 1.5em;
    }

    header .hero-header .salutation h1{
        font-size: 35px;
        text-align: center;
        padding: 0;
    }

    header .hero-header .salutation p{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    header .hero-header .button input{
        font-size: 10px;
        padding: 8px 35px;
        width: 100%;
        margin-top: 2em;
    }
}

section .portfolio h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline #E07800;
    padding-top: 1.5em;
    padding-bottom: 1em;
}