* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

main .admin {
    color: #3fbef0;
    text-transform: uppercase;
    text-align: center;
    margin: 2.5em 0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
}

tr th {
    border: 2px solid #3fbef0;
    padding: 0.4em 0;
}

tr td {
    border: 2px solid #3fbef0;
    padding: 0.3em 0;
}

main .table tr td a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 0 0.2em;
}

main .table tr td a:hover {
    color: #3fbef0;
}

tr td button {
    background-color: teal;
}