* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'arial';
    color:rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.5em;
    background:#54ABCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 60%;
    height: 1vh;
    margin: auto;
}

/* main a {
    display: flex;
    justify-content:right;
    background-color: rgb(25, 66, 66);
} */

main .alerte{
    font-size: 15px;
    color: #4BC4F2;
    text-align: center;
}


.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid;
    border-color: white;
    background-color: #54ABCC;
    outline-style: none;
    margin: 3em 0;
    height: 5vh;
    padding-bottom: 2em;
}

main .titleBar .logout {
    padding: 0.4em;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

main .titleBar .logout:hover {
    color: #4BC4F2;
    background-color: white;

}

.messages{
    display: flex;
    margin-top: 1em;
    height: 50vh;
    padding: 2em;
    overflow: auto;
}

.messages .date {
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
}

.uti-message {
    margin-top: 0.5em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 3px 8px;
}

main .messages .mess {
    border: solid #4BC4F2;
    border-radius: 15px;
    padding: 0.3em 0.8em;

}

.comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    height: 10vh;
}

#utilisateur {
    /* width: 25%;
    height: 2em;
    outline-style: none;
    border: none;
    color: white;
    background-color: #54ABCC;
    text-align: center;
    font-size: 20px; */
    display: none;
}

#message {
    padding: 1em 0.2em;
    width: 65%;
    height: 2em;
    outline-style: none;
    border: none;
}

main .container .envoyer {
    padding: 0.8em;
    border-radius: 8px;
    border: none;
    background-color: #4BC4F2;
    color: white;
    outline: none;

}

main .container .envoyer:hover {
    background-color: white;
    color: #4BC4F2;
    cursor: pointer;
}



