.container {
    width: 80%;
    margin: auto;
}


.header {
    height: 80vh;
    background-image: url(../Assets/images/hero-image.png);
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.header .header-head {
    padding: 20px 0;
    /* background-color: magenta; */
}

.header .header-head .hd-stl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-head .hd-stl .logo h1 {
    font-size: 40px;
    color: #FFF;
    text-transform: uppercase;
}

.header .header-head .hd-stl .nav {
    list-style: none;
}

.header .header-head .hd-stl .nav li {
    display: inline-block;
    padding: 5px 15px;
    font-size: 18px;
}

.header .header-head .hd-stl .nav li a {
    text-decoration: none;
    color: #FFF;
    text-transform: capitalize;
}

.header .header-body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header .header-body h2 {
    text-transform: capitalize;
    font-size: 32px;
    color: #FFF;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.header .header-body p {
    font-size: 18px;
    color: #dbdbdb;
    margin-bottom: 13px;
}

.header .header-body button {
    border: none;
    outline: none;
    background-color: blue;
    color: #FFF;
    cursor: pointer;
    text-transform: capitalize;
    padding: 15px 45px;
    border-radius: 8px;
    font-weight: 600;
}

section .header-section{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
}


section .header-section h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}


section .header-section p{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}



section .box1 .header-main{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}


section .box1 .header-main h3{
    font-weight: 600;
    color: blue;
}

section .box1 .header-main p{
    color: #6B778A;
    position: relative;
    top: 0%;
}

section .box1 .smal-header-main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-top: 4px;
}


section .box1 .smal-header-main .place-city{
    color: #6B778A;
}

section .box1 {
    border-right: 1px solid #6B778A;
    padding: 0 20px 0 0
}

section .box1 .text-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

section .box1 .text-main p{
    color: #6B778A;
    line-height: 1.3;
}

section .box1 .text-main .flech-main p{
    color: white;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}
section .body-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}




section .box2 .header-main{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}


section .box2 .header-main h3{
    font-weight: 600;
    color: blue;
}

section .box2 .main .header-main p{
    color: #6B778A;
    position: relative;
    top: 0%;
}

section .box2 .smal-header-main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-top: 4px;
}


section .box2 .smal-header-main .place-city{
    color: #6B778A;
}

section .box2 {
    border-right: 1px solid #6B778A;
    padding: 0px 25px;
}

section .box2 .text-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

section .box2 .text-main p{
    color: #6B778A;
    line-height: 1.3;
}

section .box2 .text-main .flech-main p{
    color: white;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}



section .box3  .header-main{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}


section .box3  .header-main h3{
    font-weight: 600;
    color: blue;
}

section .box3  .header-main p{
    color: #6B778A;
    position: relative;
    top: 0%;
}

section .box3 .smal-header-main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-top: 4px;
}


section .box3 .smal-header-main .place-city{
    color: #6B778A;
}

section .box3 {
    padding: 0 0 0 20px;
}

section .box3 .text-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

section .box3 .text-main p{
    color: #6B778A;
    line-height: 1.3;
}

section .box3 .text-main .flech-main p{
    color: white;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}

section .body-section h2{
    text-transform: capitalize;
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

section .body-section .icons{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}

 .icons img { 
    width: 40%;
    height: 40%;
} 



section .body-section .icons .icon{
    border: 1px solid #6B778A;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    align-items: center;
}
.i{
    width: 50%;
    height: 50%;
    padding: 10px;
    padding: 8px;
    margin-top: 6px;
}

section .body-section .icons .icon p {
    margin-top: 0em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    /* border: 1px solid red; */
    width: max-content;
    margin-top: 15px;
}

section .bottom-section .bottom{
    margin-top: 50px;
}


section .bottom-section .bottom .main-image{
    /* border: 2px solid black; */
    background-image: url(./images/Newsletter-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 197px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

section .bottom-section .bottom .main-image .text-image{
    padding: 25px 0 0 40px;
}

section .bottom-section .bottom .main-image h2{
    text-transform: capitalize;
    color: white;
    font-size: 32px;
    color: #FFF;
    letter-spacing: 2px;
    font-weight: 600;
}

section .bottom-section .bottom .main-image p{
    width: 45%;
    margin: 20px 0;
    font-size: 14px;
}

section .bottom-section .bottom .main-image input{
    border-radius: 4px;
    padding: 10px 120px 10px 10px;
    margin: 0 10px 0 0;
    font-size: 12px;
    border: white;
}

section .bottom-section .bottom .main-image button{
    border-radius: 4px;
    background-color: blue;
    border: white;
    padding: 10px 20px;
    color: white;
    font-weight: 600 ;
}

.footer ul{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 30px 50px;
    width: 70%;
    margin: auto;
}

.footer ul li{
    width: 60%;
}

.footer ul li a{
    text-decoration: none;
    color: #6B778A;
}

@media screen and (max-width: 800px){
    .header .header-head .hd-stl{
        display: flex;
        flex-direction: column;
    }

    .header .header-head .hd-stl .logo{
        text-align: center;
        margin-bottom: 30px;
    }


    .header .header-head .hd-stl .nav{
        display: flex;
        justify-content: center;
    }

    .header .header-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    section .body-main{
        display: flex;
        flex-direction: column;
    }
    

    section .box1{
        border: none;
        padding: 0;
    }

    section .box2{
        border: none;
        padding: 0;
        margin-top: 20px;
    }

    section .box3{
        border: none;
        padding: 0;
        margin-top: 20px;
    }

    section .box1 .text-main {
        margin-top: 10px;
    }

    section .box2 .text-main {
        margin-top: 10px;
    }

    section .box3 .text-main {
        margin-top: 10px;
    }

    section .box3 .header-main{
        
    }

    section .box3 .smal-header-main{
        display: flex;
        flex-direction: column;
    }

    section .bottom-section .bottom .main-image{
        background-image: none;
    }
    .footer ul{
        font-size: 7px;
        text-align: center;
        padding: 25px 0px;
    }
        
    
}