.tw{
    width: 84%;
    padding: 30px 100px;
}
.tw1{
    padding-right: 5%;
}
header{
    height: 60vh;
    background-image: url(./images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    color: white;
}
ul{
    padding: 15px;
    list-style: none;
    display: flex;
}
.di{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.ab{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.faq{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.blo{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.log{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #4281FB;
    border-radius: 3px;
}
.ln{
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
    
}
.desc{
    color: white;
    width: 50%;
}
h1{
    font-size: 35px;
    padding: 0 0 25px;
    
}
.p1{
    margin-bottom: 30px;
}
.post{
    color:white;
    border:1px#4281FB;
    border-radius: 4px;
    background-color: #4281FB;
    margin-right: 350px;
    text-align: center;
    line-height: 40px;
    padding: 0 30px;
    
}
section{
    margin: 35px 100px;
}
.hs{
    color: black;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.V{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #4281FB;
}
.flech{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #4281FB;

}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.g{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.jp{
    color:black;
    margin: 0 30px 0 0;
    width: 33%;

}
.container{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hours{
    color: #959595;
}
.smalhead{
    margin-top: 10px;
}

.h3{
    color: #4281FB;
}
.h4{
    background-color: rgb(255, 255, 255);
    margin-block-start: auto;
    margin-block-end: auto;
    display: flex;
}
.place{
    color: #959595;
}
.f{
    background-color:  #4281FB;
    color: white;
    padding: 5px 8px;
    margin-left: 25px;
}
.pf{
    padding: 20px 0 0;
    display: flex;
    align-items: flex-end;
}
.pf1{
    padding: 20px 0 0;
    display: flex;
    align-items: flex-end;
}
.p2{
    color: #959595;
    padding: 0 10px 0 0;
}
.p{
    background-color: rgb(255, 255, 255);
    color: #959595;
    padding: 0 47px 0 0;
}
.jp1{
    border-left: 1px solid #B3B3B3;
    padding: 0 30px;
    width: 33%;
    
}
.jp2{
    border-left: 1px solid #B3B3B3;
    padding: 0 0 0 30px;
    width: 33%;
}


