.container {
    width: 80%;
    margin: auto;
}

.header {
    height: 80vh;
    background-image: url(../Assets/images/hero-image.png);
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.header .header-head {
    padding: 20px 0;
    /* background-color: magenta; */
}

.header .header-head .hd-stl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-head .hd-stl .logo h1 {
    font-size: 40px;
    color: #FFF;
    text-transform: uppercase;
}

.header .header-head .hd-stl .nav {
    list-style: none;
}

.header .header-head .hd-stl .nav li {
    display: inline-block;
    padding: 5px 15px;
    font-size: 18px;
}

.header .header-head .hd-stl .nav li a {
    text-decoration: none;
    color: #FFF;
    text-transform: capitalize;
}

.header .header-body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header .header-body h2 {
    text-transform: capitalize;
    font-size: 32px;
    color: #FFF;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.header .header-body p {
    font-size: 18px;
    color: #dbdbdb;
    margin-bottom: 13px;
}

.header .header-body button {
    border: none;
    outline: none;
    background-color: mediumblue;
    color: #FFF;
    cursor: pointer;
    text-transform: capitalize;
    padding: 15px 45px;
    border-radius: 8px;
    font-weight: 600;
}

.section .header-section{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
}


.section .header-section h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}


.section .header-section p{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.section .box1 .main{
    border-right: 1px solid gray;
}

.section .box1 .main .header-main{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}


.section .box1 .main .header-main h3{
    font-weight: 600;
    color: blue;
}

.section .box1 .main .header-main p{
    color: gray;
    position: relative;
    top: 0%;
}

.section .box1 .smal-header-main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-top: 4px;
}


.section .box1 .smal-header-main .place-city{
    color: gray;
}

.section .box1 {
    border-right: 1px solid gray;
}

.section .box1 .text-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

.section .box1 .text-main p{
    color: gray;
}

.section .box1 .text-main .flech-main p{
    color: white;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}
.section .boxs{
    display: flex;
    justify-content: space-between;
}


.section .box2 .main{
    border-right: 1px solid gray;
}

.section .box2 .main .header-main{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}


.section .box2 .main .header-main h3{
    font-weight: 600;
    color: blue;
}

.section .box2 .main .header-main p{
    color: gray;
    position: relative;
    top: 0%;
}

.section .box2 .smal-header-main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-top: 4px;
}


.section .box2 .smal-header-main .place-city{
    color: gray;
}

.section .box2 {
    border-right: 1px solid gray;
}

.section .box2 .text-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

.section .box2 .text-main p{
    color: gray;
}

.section .box2 .text-main .flech-main p{
    color: white;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}