h1{
    text-align: center;
}

#canvas {
    position: relative; 
    height: 600px;
    width: 900px;
    border: 2px solid rgb(113, 86, 233);
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#canvas #mainImage {
    width: 88%;
}

#canvas .arrow{
    position: relative; 
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(113, 86, 233);
    padding: 5px;
    box-sizing: border-box;
    background: white;
    opacity: .8;
}

#canvas .image{
    width: 35px;
    height: 35px;
}

#canvas .arrow:hover{
    background-color: rgb(113, 86, 233);
    box-shadow: 0 0 5px black;
}

